#bodycontent {
    background: radial-gradient(circle, rgba(24, 24, 24, 0.537) 0%, rgba(34, 34, 34, 1) 60%, rgba(26, 26, 26, 1) 80%, rgba(17, 17, 17, 1) 100%);
    background-size: cover;
    color: #ffffff;
    /* Ajusta el color del texto si es necesario */
    font-family: 'Arial', sans-serif;
    /* Puedes cambiar la fuente según tus necesidades */
    margin: 0;
    padding: 0;
}

header {
    background: radial-gradient(circle, rgba(24, 24, 24, 0.932) 0%, rgba(34, 34, 34, 1) 60%, rgba(26, 26, 26, 1) 80%, rgba(17, 17, 17, 1) 100%);
    background-size: cover;
    color: #ffffff;
    /* Ajusta el color del texto si es necesario */
    font-family: 'Arial', sans-serif;
}
/* Estilos para el carrusel */
#carouselExampleCaptions {
    max-height: 80vh;
    overflow: hidden;
    width: 100%;
}

#carouselExampleCaptions .carousel-item img {
    width: 100%;
    height: 80vh;
        object-fit: cover;
        /* Cambiado a cover para que la imagen cubra todo el contenedor */
    display: block;
    margin: 0;
        /* Eliminamos cualquier margen */
        border: none;
        /* Eliminamos cualquier borde */
}

/* Estilo para el texto de la diapositiva */
.carousel-text {
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    #carouselExampleCaptions {
        max-height: 60vh;
    }

    #carouselExampleCaptions .carousel-item img {
        height: 60vh;
    }

    .carrouselTitle {
        font-size: 4vw;
    }

    .carousel-text {
        font-size: 2.5vw;
    }
}

@media (max-width: 480px) {
    #carouselExampleCaptions {
        max-height: 50vh;
    }

    #carouselExampleCaptions .carousel-item img {
        height: 50vh;
    }

    .carrouselTitle {
        font-size: 5vw;
    }

    .carousel-text {
        font-size: 3vw;
    }
}

.feature-section {
    padding: 40px 0;
    /* Espaciado superior e inferior opcional */
}

.feature-box {
    padding: 20px;
    color: #fff;
    margin: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    transition: transform 0.3s;

}

.feature-box:hover {
    transform: scale(1.025);
    /* Hace que el cuadro crezca un poco al hacer hover */
}

.feature-box-green {
    background-color: #008C45;
    /* Verde de la bandera de Italia */
}

.feature-box-white {
    background-color: #ffffff;
    /* Blanco */
    color: #000;
    /* Cambia el color del texto a negro para que sea visible */
}

.feature-box-red {
    background-color: #CD212A;
    /* Rojo de la bandera de Italia */
}

.feature-box-green:hover {

    background-color: #02a754;
    /* Verde de la bandera de Italia */
}

.feature-box-white:hover {
    background-color: #ffffffe3;
    /* Blanco */
    color: #000;
    /* Cambia el color del texto a negro para que sea visible */
}

.feature-box-red:hover {
    background-color: #de343d;
    /* Rojo de la bandera de Italia */
}

.feature-section .row {
    display: flex;
    flex-wrap: nowrap;
    /* Impide que los cuadros se vayan a la siguiente línea */
}

.feature-section .col-lg-4 {
    padding: 0;
    /* Elimina el padding entre los contenedores de las columnas */
    flex: 1;
    /* Hace que cada columna ocupe el mismo ancho */
}